

.sc-loader{
    position: fixed;
    z-index: 999;
    top: 0;
    opacity: 1;
    background-color: #141414;
    width: 100%;
    height: 100%;
    padding: 180px 40px;
    .loader-inner{
        color: #fff;
        font-weight: 600;
        font-size: 75px;
        line-height: 85px;
        margin-top: 83px;
        .text-first{
            strong{}
        }
        .text-wrap{
            height: 125px;
            overflow: hidden;
            strong{
                display: block;
                animation: loder 4s ease forwards ;

            }

            @keyframes loder {

                0%{
                transform: translateY(0);
                }
                12%{
                transform: translateY(0);
                }
                24%{
                transform: translateY(-120%);
                }
                36%{
                transform: translateY(-120%);
                }
                48%{
                transform: translateY(-210%);
                }
                60%{
                transform: translateY(-210%);
                }
                72%{
                transform: translateY(-310%);
                }
                100%{
                transform: translateY(-310%);
                }
                
            }

        }
    }
}

.header{
    position: relative;

    .header-inner{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        border-bottom:1px solid #ededed29;
        .logo-box{
            .logo{
                position: fixed;
                display: block;
                overflow: hidden;
                height: 30px;
                z-index: 1;
                svg{
                    transform: translateY(-60px);

                }

            }
    
        }
        .gnb{
            .gnb-list{
                display: flex;
                gap: 30px;
                .gnb-item{}
            }
        }
        .sns-box{
            .sns-list{
                display: flex;
                gap: 30px;

                .sns-item{

                }
            }

        }

    }
    .header-fix{
        position: fixed;
        z-index: 888;
        top: 15px;
        right: 40px;
        opacity: 0;

        .fix-btn{
            position: relative;
            position: absolute;
            right: 20px;
            width: 70px;
            height: 50px;
            border-radius: 30px;
            border: 1px solid #4f8a8b97;
            background: #4f8a8b97;
            color: #fff;
            backdrop-filter: blur(8px);
            font-weight: 600;
            .line{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 25px;
                border-top: 1px solid #141414;

                &.top{
                    top: 17px;

                }
                &.mid{}
                &.bot{
                    bottom: 17px;
                }
            }
        }
        .side-area{
            opacity: 0;
            position: absolute;
            right: 50px;
            pointer-events: none;
            transition: all 0.3s;
            &.on{
                right: 100px;
                opacity: 1;
                pointer-events: all;
            }
            .side-list{
                display: flex;
                gap: 10px;
                .side-item{
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #4f8a8b97;
                    background: #19191961;
                    width: auto;
                    height: 50px;
                    border-radius: 30px;
                    color: #fff;
                    z-index: 998;
                    transition: 0.3s;
                    &:hover{
                        background: #4F8A8B;
                    }
                    &.on{
                    }
                  
                    a{
                        display: block;
                        text-align: center;
                        z-index: 999;
                        padding: 0 20px;

                    }
                }
            }
        }
    }
}